.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
* {
    margin: 0px;
    padding: 0px;
}
header {
    background-image: url(../Assets/Hero-bg.png);
    max-width: 1260px;
    height: 700px;
    margin: 0 auto;
}
.nav {
    padding: 50px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 34px;
    color: #4E47FF;
    font-weight: 900;
}
/* primary-button */
.primary-button {
    background-color: #4E47FF;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.primary-button:hover {
    background:linear-gradient(90deg,#20015f,#4000ff,#20015f);
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-weight: 500;
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    filter: drop-shadow(2px 2px 15px #606060);
    transition: all 0.5s; 
}
.banner {
    text-align: center; 
    margin-top: 160px;
}
.banner p {
    font-size: 65px;
    font-weight: 700;
    color: #252432;
}
.stay {
    margin-top: 37px;
    
}
.all-action {
    display: flex;
    justify-content: space-between;
    margin: 80px auto ;
    width: 1140px;
    height: 328px;
    align-items: center;
}
.action-head {
    padding: 10px 0;
    font-size: 42px;
    color: #252432;
}
.action-para {
     padding: 10px 0;
     font-size: 18px;
     color: #25243287;
}
.action-img {
    width: 400px;
    border-radius: 48px;
}
.users {
    background-color: #4d47ff3b;
    max-width: 1140px;
    height: 306px;
    text-align: center;
    margin: 80px auto ;
    border: none;
    border-radius: 24px;
}
.users h2 {
    font-weight: 700;
    font-size: 38px;
    padding-top: 50px;
    color: #252432;
}
.users-report {
    display: flex;
    justify-content: space-around;
    padding: 0 142px;
    text-align: center;
    align-items: center;

}
.users-report-text h2 {
    font-size: 80px;
    font-weight: 700;
    color: #4E47FF;
}
.users-report-text p {
    font-size:15px ;
    color: #00000078;
}
.review {
    width: 1140px;
    height: 340px;
    text-align: center;
    margin:  116px 80px;
}
.review h3 {
    font-size: 42px;
    font-weight: 600;
}
.ratting {
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
}
.ratting-row {
    text-align: left;
    width: 366.67px;
    height: 243px;
    border-radius: 14px;
    background-color: #ffffff7c;
    border: 1px solid #F2EDED;
    /* box-shadow: 0 6px 6px -5px ; */
}
.satr-img{
    padding: 30px 24px;
}
.ratting-row h4 {
    padding-left: 24px;
    font-size: 20px;
}
.ratting-row p {
    padding-left: 24px; 
    padding-top: 8px;
}
.review-name {
    display: flex;
    gap: 12px;
    padding: 24px;
    color: #1E1E1E;
}
.review-photo img {
    border-radius: 50%;
  
}
.review-detils {
    color: rgb(110, 110, 110);

}
.focus {
    text-align: center;
    width: 1140px;
    height: 697px;
    background-color: rgba(255, 250, 250, 0.71);
    border: 1px solid #F2EDED ;
    border-radius: 14px;
    margin:  116px 80px;
}
.focus-sub {
    padding: 71px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.focus-sub h4 {
    font-size: 50px;
    font-weight: 700px;
}
.focus-sub p {
    color: #00000089;
}
.focus-sub-photo img {
    border: none;
    border-radius: 48px;
}
.form {
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    height: 632px;
    margin:  116px 80px;
    align-items: center;
}
.form-text {
    font-size: 160px;
    font-weight: 500;
    
}
input[type=text], input[type=email], textarea {
    padding: 30px 230px 30px 20px;
    border: 1px solid  #F2EDED ;
    background-color: rgba(232, 252, 255, 0.625);
    border-radius: 10px;
    margin: 8px 0;
}
textarea {
    padding: 50px 230px 50px 20px;
}
.get-in {
    background-color: #4E47FF;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 150px;
    margin: 0 7px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.get-in:hover {
    background-color: #4E47FF;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 150px;
    margin: 0 7px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 7px 6px 8px -4px #20015f;
}
footer {
     background-color: rgba(255, 249, 249, 0.847);
     border-top: 1px solid #F2EDED;
     max-width: 1260px;
     height: 250px;
     text-align: center;
}
.footer-text h2 {
    color: #4E47FF;
    font-size: 100px;
    font-weight: 700;
}
.footer-text p {
    color: #8987A1;
}
nav  {
    text-align: center;
    margin-top: 20px;
}
ul li {
    list-style: none;
    display: inline;
    margin-right: 25px;    
 }
nav ul li a {
    text-decoration: none;
    color: #8987A1;
}
